/*--------------Algemeen-----------*/

*, *::after, *::before {
  box-sizing:border-box;  
}

body {
    font-family: capitolium-2, Times New Roman, serif;
    background-color: #EAEAEA;
    margin: 0;
}

section, footer{
    background-color: white;
    width: 100%;
}

section{
    border-bottom: 1px solid lightgray;
    margin: 0 0 1vh;
}

p{
    font-size: 1em;
    font-weight: 300;
    line-height: 1.2em;
} 

img {
    max-width: 100%;
    height: auto;
}

/*--------------Header-----------*/

header{
    width: 100%;
    background-color: white;
}

header img{
    width: 90%;
    display: block;
    margin: auto;
    background-color: white;
    padding-bottom: 2vh;
    padding-top: 9vh;
    border-bottom: 1px solid lightgray;
}

/*--------------Navigatie-----------*/

nav{
    width: 100%;
    padding: 0 4vw;
    background-color: white;
    z-index: 999;
    position: fixed;
}

nav:first-of-type{
    border-bottom: 1px solid lightgray;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: nowrap;
}

nav ul{
    margin: 0;
    padding: 0;
}

nav li{
    display: inline-block;
    font-size: 1em;
    padding: 15px 5px;
    list-style-type: none;
}

nav li a{
    color: black;
    text-decoration: none;
}

nav:first-of-type a{
    display: inline-block;
    text-align: center;
}

li:first-of-type{
    border-bottom: 5px solid black;
}

/*--------------Bottom navigatie-----------*/

footer nav{
    bottom: 0;
    right: 0;
    left: 0;
    border-top: 1px solid lightgray;
    z-index: 999;
}

footer nav ul{
    display: flex;
    justify-content: space-between;
}

footer nav li{
    font-size: 1em;
    border: none;
}

footer nav img{
    height: 30px;
}

/*--------------Voorpagina artikel-----------*/

section:first-of-type{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

section:first-of-type img{
    width: 90%;
    display: block;
    padding-bottom: 2vh;
    padding-top: 2vh;
}

section:first-of-type div{
    position: absolute;
    color: white;
    bottom: 2vh;
    text-align: center;
    width: 90%;
    background: linear-gradient(0deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.6) 50%, rgba(0,0,0,0) 100%);
    padding: 1em;
}

section:first-of-type strong:first-of-type{
    color: white;
    text-transform: uppercase;
    font-family: Arial;
    font-size: 0.8em;
    font-weight: 900;
    display: block;
}

section:first-of-type strong:last-of-type{
    color: white;
    font-size: 1.5em;
    width: 80%;
}

section:first-of-type a{
    text-decoration: none;
}

/*--------------Lijst-----------*/

.lijst, .bestgelezen{
    padding: 1vh 4vw;
}

.lijst div, .bestgelezen div{
    margin: 1vh 0 0;
    padding: 1vh 0 0;
    border-top: 8px solid #008bc3;
}

.lijst strong, .bestgelezen strong{
    text-transform: uppercase;
    font-family: Arial;
    font-weight: 900;
    font-size: 0.8em;
}

.lijst a, .bestgelezen a{
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-size: 0.8em;
    font-family: Arial;
    float: right;
}

.lijst article, .bestgelezen article{
    padding-bottom: 2.5vh;
    padding-top: 1.5vh;
    display: flex;
}

.lijst article + article, .bestgelezen article + article{
    border-top: 1px solid lightgray;
}

.lijst img{
    height: 65px;
    width: 65px;
}

.lijst article p{
    font-size: 1em;
    font-weight: 300;
    line-height: 1.2em;
    margin: .5vh 3vw 0;
}

.lijst article strong{
    margin-right: 3vw;
}

/*--------------Artikelen met witte rand en titel onder de foto-----------*/

.artikel_witterand_titelonderfoto{
    padding: 2vh 4vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.artikel_witterand_titelonderfoto p:first-of-type{
    text-transform: uppercase;
    font-family: Arial;
    font-size: 0.8em;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}

.artikel_witterand_titelonderfoto p:nth-of-type(2), .artikel_witterand_titelonderfoto p:nth-of-type(3){
    font-size: 1.5em;
    display: inline;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1em;
}

.artikel_witterand_titelonderfoto strong:nth-of-type(2), .artikel_witterand_titelonderfoto strong:nth-of-type(3){
    font-size: 1em;
    font-weight: 700;
    line-height: 1.2em;
}

.uppercase{
    text-transform: uppercase;
    font-family: Arial;
    font-size: 1em;
    margin: 0;
    font-weight: 900;
    margin-right: .5em;
}

/*--------------Versie met volledige breedte-----------*/

.artikel_volledigebreedte_fotointekst{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.artikel_volledigebreedte_fotointekst div{
    position: absolute;
    color: white;
    bottom: 0;
    text-align: left;
    background: linear-gradient(0deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.6) 50%, rgba(0,0,0,0) 100%);
}

.artikel_volledigebreedte_fotointekst p:first-of-type{
    text-transform: uppercase;
    font-family: Arial;
    font-size: 0.8em;
    margin: 0;
    display: inline;
    margin-top: 5px;
    margin-bottom: 5px;
}

.inspring{
    padding-left: 5vw;
}

.artikel_volledigebreedte_fotointekst p:nth-of-type(2), .artikel_volledigebreedte_fotointekst p:nth-of-type(3){
    font-size: 1.5em;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1em;
    padding-left: 5vw;
}

.artikel_volledigebreedte_fotointekst strong:nth-of-type(2), .artikel_volledigebreedte_fotointekst strong:nth-of-type(3){
    font-size: 1em;
    font-weight: 700;
    line-height: 1.2em;
}

.artikel_volledigebreedte_fotointekst p:last-of-type{
    padding-bottom: 2vh;
    padding-right: 5vw;
}

/*Verschillende versies met volledige breedte foto*/

.center div{
    text-align: center;
}

.center div strong:first-of-type{
    padding-left: 0;
}

.zwart div{
    color: black;
    background: none;
}

.top div{
    top: 0;
    padding-top: 1vh;
    background: linear-gradient(180deg, rgba(255,255,255,0.6) 0%, rgba(255,255,255,0.1) 50%, rgba(0,0,0,0) 100%);
}

.top div strong:first-of-type, .top div p:nth-of-type(2){
    padding-left: 2vw;
}

.right div{
    text-align: right;
}

.right div p:first-of-type{
    padding-right: 5vw;
}

.geenschaduw div{
    background: none;
}

/*--------------Versie met witte rand-----------*/

.versie3{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.versie3 img{
    width: 90%;
    padding-bottom: 2vh;
    padding-top: 2vh;
}

.versie3 div{
    position: absolute;
    top: 3vh;
    text-align: center;
    width: 90%;
    text-align: right;
}

.versie3 p:first-of-type{
    text-transform: uppercase;
    font-family: Arial;
    font-size: 0.8em;
    margin: 0;
    display: inline;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-right: 3vw;
}

.links div .uppercase{
    padding-left: 3vw;
}

.versie3 p:nth-of-type(2), .versie3 p:nth-of-type(3){
    font-size: 1.5em;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1em;
    padding-left: 3vw;
}

.versie3 strong:nth-of-type(2), .versie3 strong:nth-of-type(3){
    font-size: 1em;
    font-weight: 700;
    line-height: 1.2em;
}

.versie3 p:last-of-type{
    padding-bottom: 2vh;
    padding-right: 3vw;
}

/*Verschillende versies met witte rand*/

.links div{
    text-align: left;
}

.wit div{
    color: white;
}

.center div{
    text-align: center;
}

/*--------------Column-----------*/

.column{
    padding: 1vh 3vw;
}

.column div{
    display: flex;
    flex-direction: column;
    margin: .5vh 0;
    padding: 1vh 3vw 0;
    background-color: #EFF7FC;
    border-top: 8px solid black;
}

.column img{
    height: 120px;
    width: 120px;
}

.column strong{
    text-transform: uppercase;
    font-family: Arial;
    font-size: 0.8em;
    font-weight: 900;
    color: #008BC3;
}

.column p:first-of-type{
    text-transform: uppercase;
    font-family: Arial;
    font-size: 0.8em;
    margin: 0 0 1vh 0;
}

.column p:last-of-type{
    font-size: 1.5em;
    line-height: 1em;
    display: inline;
    margin: 0;
}

/*--------------Best gelezen lijst-----------*/

.bestgelezen article p{
    font-size: 1em;
    font-weight: 300;
    line-height: 1.2em;
    margin: .5vh 3vw 0;
}

.bestgelezen span{
    font-size: 3em;
    line-height: 0.8em;
    margin: 0;
    color: #ccc;
}

/*--------------Categorietitels-----------*/

.categorietitel, .categorietitel2, .categorietitel4, .categorietitel5, .categorietitel6{
    display: flex;
    justify-content: center;
    border: none;
}

.categorietitel3{
    border: none;
}

.categorietitel p, .categorietitel2 p, .categorietitel3 p, .categorietitel4 p, .categorietitel5 p, .categorietitel6 p{
    color: #008bc3;
    font-size: 1.4em;
    font-weight: 700;
    line-height: 1.4em;
    margin: 0;
    padding: .5em 0;
}

.categorietitel p:nth-of-type(2), .categorietitel4 p:nth-of-type(2){
    color: black;
    font-family: Arial;
    font-weight: 100;
    padding: 0.5em 0.3em;
}

.categorietitel2{
    align-items: center;
    flex-direction: column;
}

.categorietitel2 p, .categorietitel3 p, .categorietitel4 p{
    color: black;
}

.categorietitel2 button{
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 2em;
    width: 90%;
    padding: .5em;
    margin: 1em;
    font-family: Arial;
    font-size: 0.9em;
}

.categorietitel3{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.categorieen{
    overflow-y: auto;
    overflow-x: hidden;
    white-space: nowrap;
}

.categorietitel3 button{
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 2em;
    padding: 0.5em 1em;
    margin: .5em .2em;
    font-family: Arial;
    font-size: 0.9em;
}

.categorietitel4 p:nth-of-type(2){
    font-family: capitolium-2;
}

.categorietitel5 p{
    color: #cf4676;
}

.categorietitel6 p{
    color: #389f0f;
}

/*--------------"Meer" buttons-----------*/

.button{
    background-color: #EAEAEA;
    border: none;
    display: flex;
    justify-content: center;
}

.meer{
    text-decoration: none;
    color: #727272;
    background-color: #f1f1f1;
    text-transform: uppercase;
    font-family: Arial;
    font-weight: 700;
    font-size: 0.8em;
    line-height: 17px;
    border-radius: 2em;
    border: none;
    padding: .8em 1.5em;
    margin: 1em 0 2em;
}


.artikelLezen{
    display: none;
}

/*--------------Footer-----------*/

footer{
    padding: 2vh 4vw;
}

footer strong:first-of-type{
    font-size: 1.4em;
    font-weight: 700;
    line-height: 25px;
}

footer strong:nth-of-type(2){
    color: #008bc3;
    font-size: 1em;
    font-weight: 700;
    line-height: 1.2em;
    font-family: Arial;
    display: block;
    margin-top: 0.5em;
}

footer h4{
    font-family: Arial;
    font-size: 0.9em;
    line-height: 1.2em;
    margin-bottom: 10px;
    margin-top: 30px;
}

footer ul{
    list-style-type: none;
    padding: 0;
}

footer ul li:first-of-type{
    border: none;
}

footer a{
    font-family: Arial;
    font-size: 0.9em;
    margin: 0;
    line-height: 2.2em;
    display: block;
    color: black;
    text-decoration: none;
}

footer div p{
    font-family: Arial;
    font-size: 0.8em;
    border-top: 1px solid lightgray;
    padding-top: 1em;
    margin-bottom: 5em;
}

footer div a{
    font-size: 0.9em;
    display: inline;
    color: blue;
    text-decoration: underline;
    line-height: 1em;
}

footer div{
    position: relative;
    margin-top: 50px;
}

footer div img{
    width: 110px;
    position: absolute;
    right: 15px;
    top: -80px;
}